{% extends 'insta.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
<img class="instathumbnail" src="{{ context["thumb"] }}">

<p class="instatitle">{{ context["title"] }}</p>
            
<section class="infos1">

    <li>Likes : <b>{{ context["likes"] }}</b></li>

</section>

<br>

<div class="howtodownload">  
    <span>Q: How to download video? What to do, if download doesn't start?</span><br>
    A: <mark>RIGHT CLICK</mark> the download button, select <mark>SAVE LINK AS...</mark> from the menu.<br>
    B: Also try press <mark>ALT</mark> and <mark>LEFT CLICK</mark> the download button in Chrome or Edge.
</div>

<br>
<br>
<br>

<table id="table">
    <thead >
    <tr>
        <th scope="col">Resolution</th>
        <th scope="col">Extension</th>
        <th scope="col">Download</th>
    </tr>
    </thead>
    <tbody>
    {% for stream in streams %}
        <tr>
            <td>{{ stream.resolution }}</td>
            <td>{{ stream.extension }}</td>
            <td><a href="{{ stream.url }}" style="text-decoration: none; color: blue;" download="{{ title }}.{{ extension }}" target="_blank" >Download <i class=" fa fa-download"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{#                <p >Video Only</p>#}
{#                <table >#}
{#                    <thead >#}
{#                    <tr>#}
{#                        <th scope="col">Resolution</th>#}
{#                        <th scope="col">Extension</th>#}
{#                        <th scope="col">Download</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for stream in stream_video %}#}
{#                        <tr>#}
{#                            <td>{{ stream.resolution }}</td>#}
{#                            <td>{{ stream.extension }}</td>#}
{#                            <td><a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}" target="_blank">Download <i class=" fa fa-download"></i></a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}

{#                <p>Audio Only</p>#}
{#                <table>#}
{#                    <thead>#}
{#                    <tr>#}
{#                        <th scope="col">Extension</th>#}
{#                        <th scope="col">Download</th>#}
{#                    </tr>#}
{#                    </thead>#}
{#                    <tbody>#}
{#                    {% for stream in stream_audio %}#}
{#                        <tr>#}
{#                            <td>{{ stream.extension }}</td>#}
{#                            <td><a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}" target="_blank" >Download <i class=" fa fa-download"></i></a></td>#}
{#                        </tr>#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}

{% endblock %}